* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 120px;
    background-color: #80BFBE;
    color: white;
}

h1,
h2,
h3 {
    text-align: center;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ol,
ul {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
  }

  .card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid #80BFBE;
    box-shadow: 5px 10px #F5F2F0;
  }



